* {
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgba(184, 118, 44, 0.521);
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
.choices{
display: flex;
justify-content: center;
gap: 3rem;
margin-top: 5rem;
}
img{
    width: 155px;
    height: 155px;
    object-fit: cover;
    border-radius: 50%;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 5rem;
}
.userScoreReal, .compScoreReal{
    font-size: 75px;
}
.msgContainer{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    
    padding: 1rem;
    border-radius: 20px;
}